.center-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-items {
    align-items: center;
}

.left-justify {
    justify-content: flex-start;
}

.right-justify {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.pull-right {
    margin-left: auto;
}

.pull-left {
    margin-right: auto;
}

.column {
    flex-direction: column;
}

.full-size {
    flex: 1
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}
